REDIS_PASSWORD=xxx
REDIS_SAVE_FREQUENCY=900:1
REDIS_SAVE_FREQUENCY_2=300:10
REDIS_SAVE_FREQUENCY_3=60:10000
REDIS_AOF_ENABLED=yes
REDIS_AOF_FSYNC=everysec
REDIS_APPENDONLY=yes
REDIS_APPENDFSYNC=everysec